        .inv-section-title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 800;
            color: #0b3d91;
            margin-bottom: 14px;
        }
        .inv-section-title .dot {
            width: 10px; height: 10px;
            border-radius: 50%;
            background: #0d6efd;
            box-shadow: 0 0 0 5px rgba(13,110,253,.12);
        }

               /* ====== Select2 estilo ====== */
        .select2-container .select2-selection--single {
            height: 44px;
            border-radius: 12px !important;
            border: 1px solid #dbe5f3 !important;
            display: flex;
            align-items: center;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-left: 12px;
            color: #25324a;
            font-weight: 600;
            line-height: 44px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 44px;
            right: 10px;
        }
        .select2-container--default .select2-search--dropdown .select2-search__field {
            border-radius: 10px;
            border: 1px solid #dbe5f3;
            padding: 10px 12px;
            outline: none;
        }
        .select2-dropdown {
            border-radius: 14px;
            border: 1px solid #dbe5f3;
            box-shadow: 0 10px 24px rgba(18, 38, 63, .12);
            overflow: hidden;
        }
        .select2-results__option {
            padding: 10px 12px;
        }
        .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
            background: rgba(13,110,253,.12);
            color: #0b3d91;
        }

       

/*====fechas Date inputs====*/
        
input[type="date"] {
    position: relative;
    padding-right: 42px;
}

/* icono calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
    filter: invert(0.4);
}

/* hover */
input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}

/* Firefox fix */
input[type="date"]::-moz-focus-inner {
    border: 0;
}

/* ====== SELECTS (PROVEEDOR) ====== */

.select2-container .select2-selection--single {
    height: 44px;
    border-radius: 12px !important;
    border: 1px solid #dbe5f3 !important;
    background: #fff;
}

.select2-container--default .select2-selection__arrow {
    top: 8px;
}

.ui-tip {
    background: linear-gradient(135deg, #e0f2ff, #d6ecff);
    border: 1px solid #a8d8ff;
    color: #084298;
    padding: 12px 16px;
    border-radius: 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
}